
h1 {
    color: navy;
    font-family: georgia, sans-serif;
    font-size: xx-large;
    letter-spacing: .2em;
}
header blockquote {
    font-size: large;
    font-family: sans-serif;
}
h2 {
    color: sienna;
}
header p {
    color: darkseagreen;
    font-family: sans-serif;
}
h3 {
    color: sienna;
}
section blockquote {
    font-family: sans-serif;
    text-align: center;
}
footer {
    color: navy;
    font-family: Georgia, sans-serif;
    font-size: larger;
    text-align: center;
}
input {
    color: sienna;
}
